body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    color: #444;
    text-align: center;
}

form, #ptxKontrollar {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"], button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button[type="submit"]:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
    }

input[type="radio"] {
    margin-right: 10px;
}

#status div {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 4px;
}

#pttKnapp {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.15s ease;
}

#pttKnapp:hover {
    background-color: #218838;
}

#pttKnapp:active {
    background-color: #ce0303;
}

#pttKnapp:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
}

#tekstmeldingKnapp {
    background-color: #17a2b8;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.15s ease;
}

#tekstmeldingKnapp:hover {
    background-color: #138496;
}

#tekstmeldingKnapp:active {
    background-color: #0c5460;
}

.feilmelding {
    color: rgba(255, 0, 0, 0.814);
    font-weight: bold;
    font-size: 16px; /* Optional: Adjust as needed */
    margin-top: 8px; /* Optional: Adjust as needed */
}

/* Mørk modus */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #161616;
        color: #e0e0e0;
    }

    #status div {
        background-color: #333;
    }

    h1, h2, h3 {
        color: #e0e0e0;
    }

    form, #ptxKontrollar {
        background-color: #1e1e1e;
        border: 1px solid #333;
    }
}